.banner{
    position: relative;
    height: 448px;
    color:white;

}

.banner-contents{
    margin-left:30px;
    padding-top:140px;
    height: 300px;
}

.banner-title{

    font-size:54px;
    font-weight:800;
    padding-bottom:5px;

}

.banner-desc{

width:360px;
padding-top:15px;
font-size:14px;
height: 80px;
text-decoration: whitesmoke;

}

.banner-button{

    cursor:pointer;
    color:white;
    border:none;
    font-weight:700;
    border-radius:3px;
    background-color:#454953;
    margin-right:15px;
    padding:10px 20px;
    
}

.banner-button:hover
{
    color:black;
    background-color: white;
    transition: all 0.3s;
}

.banner-fadeBottom
{
height:120px;
background-image: linear-gradient(
    180deg,
    transparent,
    rbg(45,49,53,0.6),
    #111
    
);

}