.row
{
    color:white;
    margin-left:20px;
}

.row-posters{

    display: flex;
    padding:20px;
    overflow-x: scroll;
}

.row-poster{

    
    max-height: 100px;
    object-fit: contain;
    margin-right:10px;
    width: 100%;
    transition: transform 0.5s;
   
}

.row-poster:hover{

    transform:scale(1.08);
}
.row-poster-large{
    max-height: 250px;
}