

.title-logo{
    position: fixed;
    z-index:1;
    top:0;
    width: 100%;
    display:flex;
    justify-content: space-between;

}

.pip{
    background-color: black;
}

.nav-home{ 

    height:  52px;
    width: 80px;
    padding-top:5px;
    padding-left: 20px;
}

.nav-avatar{

    height:  32px;
    width: 32px;
    padding-top:13px;
    padding-right: 20px;
}