.userfrontimage {
    display: flex;
    width: calc(100% - 30px);
}

.smallproducts {
    padding: 1.5rem;

    width: calc(100% - 80px);
}

.eventProduct {
    padding-top: 70px;
    padding-bottom: 70px;
}

.footer {
    border: 3px solid gray;
    color: #999;
    font-size: 12px;

    zoom: 1;
    position: relative;
    padding-right: 19px;
    vertical-align: top;
    line-height: 2;
}
